.MyHeading{
    font-family: "Arial Black", sans-serif;
    font-size: 2rem;
    cursor: mouse;
    letter-spacing: 1px;
    background-color: black;
    color: white;
}
.MyData{
    margin-top: 20px;
    min-height: 15vh;
    margin-bottom: 25px;
    background-color: rgba(215, 219, 211, 0.349);
    padding: 10px;
}
@media print {
    .noPrint { display: none; }
    .row {
        padding: 0;
        margin: 0;
        box-shadow: none;
    }
    
    .printFile{
    border: blue;
    border-radius: 5px;
    }
}
@page {
      height: 6in;
      width: 7in;  
}