.MyHeading{
    font-family: "Arial Black", sans-serif;
    font-size: 2rem;
    /* font-size: 4.5em; */
    cursor: mouse;
    letter-spacing: 1px;
    background-color: black;
    color: white;
}
.MyData{
    margin-top: 25px;
    min-height: 20vh;
    margin-bottom: 25px;
    background-color: lawngreen;
    padding: 10px;
}